<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" ng-app="CDash">
  <head ng-controller="HeadController">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" ng-href="build/css/{{cssfile}}_@@version.css" />
    <link rel="stylesheet" href="css/je_compare_style-1.0.0.css" />
    <script src="js/CDash_@@version.min.js"></script>
    <title ng-bind="title">CDash</title>
  </head>

  <body bgcolor="#ffffff" ng-controller="TestDetailsController">
  -->
    <div ng-if="cdash.requirelogin == 1" ng-include="'login.php'"></div>
    <ng-include ng-if="cdash.requirelogin != 1" src="cdash.header || 'build/views/partials/header_@@version.html'"></ng-include>

    <div id="main_content" ng-if="cdash.requirelogin != 1 && !loading && !cdash.error">

      <div id="executiontime">
        <img src="img/clock.png"
             title="Average: {{::cdash.test.timemean}}, SD: {{::cdash.test.timestd}}"></img>
        <span class="builddateelapsed">
          {{::cdash.test.time}}
        </span>
      </div>
      <br/>

      <b>Test: </b>
      <a ng-href="{{::cdash.test.summaryLink}}">
        {{::cdash.test.test}}
      </a>
      <b ng-class="::cdash.test.statusColor">
        ({{::cdash.test.status}})
      </b>
      <br/>

      <b>Build: </b>
      <a ng-href="build/{{::cdash.test.buildid}}">
        {{::cdash.test.build}}
      </a>
      <a ng-href="viewSite.php?siteid={{::cdash.test.siteid}}">
        ({{::cdash.test.site}})
      </a>
      on {{::cdash.test.buildstarttime}}
      <br/>

      <div ng-if="cdash.test.update.revision">
        <b>Repository revision: </b>
        <a ng-href="{{::cdash.test.update.revisionurl}}">
          {{::cdash.test.update.revision}}
        </a>
        <br/>
      </div>

      <div ng-if="cdash.test.details != ''">
        <b>Test Details: </b>
        {{::cdash.test.details}}
        <br/>
      </div>

      <div ng-if="cdash.project.showtesttime == 1">
        <br/>
        <b>Test Timing: </b>
        <b ng-class="::cdash.test.timeStatusColor">
          {{::cdash.test.timestatus}}
        </b>
        <div ng-if="::cdash.test.timestatus != 'Passed'">
          This test took longer to complete ({{::cdash.test.time}}) than the threshold allows ({{::cdash.test.threshold}}).
        </div>
      </div>
      <br/>

      <!-- Display the measurements -->
      <table>
        <tr ng-if="cdash.test.compareimages">
          <th class="measurement">Interactive Image</th>
          <td>
            <div class="je_compare">
              <img ng-repeat="image in ::cdash.test.compareimages"
                   ng-src="displayImage.php?imgid={{image.imgid}}"
                   alt="{{image.role}}"
                   on-finish-render="setup_compare()">
              </img>
            </div>
          </td>
        </tr>

        <tr ng-repeat="image in ::cdash.test.images">
          <th class="measurement">{{image.role}}</th>
          <td>
            <img ng-src="displayImage.php?imgid={{image.imgid}}" alt="{{image.role}}">
            </img>
          </td>
        </tr>

        <tr ng-repeat="measurement in ::cdash.test.measurements | filter:{ type: '!text/link'}">
          <th class="measurement">{{measurement.name}}</th>

          <td ng-if="measurement.type != 'file'">
            {{measurement.value}}
          </td>

          <td ng-if="measurement.type == 'file'">
            <a href="testDetails.php?test={{::cdash.test.id}}&build={{::cdash.test.buildid}}&fileid={{measurement.fileid}}">
              <image src="img/package.png"/>
            </a>
          </td>
        </tr>
        <tr ng-repeat="measurement in ::cdash.test.measurements | filter:{ type: 'text/link'}">
          <td>
            <a ng-href="{{measurement.value}}">{{measurement.name}}</a>
          </td>
        </tr>
      </table>
      <br/>

      <!-- Show command line -->
      <img src="img/console.png"/>
      <a id="commandlinelink" href="javascript:;"
         ng-click="toggle_commandline()">
        <span ng-show="!cdash.showcommandline">Show Command Line</span>
        <span ng-show="cdash.showcommandline">Hide Command Line</span>
      </a>
      <div id="commandline" ng-show="cdash.showcommandline">
        {{::cdash.test.command}}
      </div>
      <br/>

      <!-- Pull down menu to see the graphs -->
      <img src="img/graph.png"/>
      Display graphs:
      <select id="GraphSelection"
              ng-change="display_graph()"
              ng-model="cdash.graphSelection">
        <option value="">Select...</option>
        <option value="time">Test Time</option>
        <option value="status">Failing/Passing</option>
        <option ng-repeat="measurement in ::cdash.test.measurements | filter:{ type: 'numeric/double'}">{{measurement.name}}</option>
      </select>
      <br/>

      <a ng-show="cdash.rawdatalink != ''" ng-href="{{::cdash.rawdatalink}}" target="_blank">
        View Graph Data as JSON
      </a>

      <!-- Graph -->
      <div id="graph_holder" ng-show="cdash.showgraph"></div>
      <div id='tooltip'></div>

      <br/>
      <b>Test output</b>
      <pre ng-bind-html="cdash.test.output | ctestNonXmlCharEscape | terminalColors | trustAsHtml"></pre>
    </div>

    <!-- FOOTER -->
    <br/>
    <ng-include ng-if="cdash.requirelogin != 1" src="cdash.footer || 'build/views/partials/footer_@@version.html'"></ng-include>
<!--  </body>
</html> -->
